# DataScienceEcosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Pytorch
3. Scikit-learn

|DataScience Tools|
|------------------
|Github           |
|Jupyter Notebook |
|RStudio          |

### Below are a few examples of evaluating arithmetic expressions in Python
1. a+b
2. a-b
3. a*b
4. a/b

In [1]:
#This a simple arithmetic expression to mutiply then add integers
result=(3*4)+5
print(result)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
hours=200/60
print(hours)

3.3333333333333335

**Objectives :**
- List popular languages for Data Science
- simple arithmetic expression to mutiply then add integers
- List commonly used libraries by Data Scientists

## Author

Aakanksha Awar